/* start landing */
.landing .container {
  min-height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (max-width: 767px) {
  .landing .container {
    flex-direction: column;
  }
}
.landing .container > div {
  flex: 1;
}
@media (max-width: 767px) {
  .landing .container .info {
    text-align: center;
  }
}
.landing .container .info h1 {
  color: var(--black-1);
  font-size: 35px;
}
.landing .container .info p {
  color: var(--black-2);
  line-height: 1.6;
  font-size: 18px;
  font-weight: 300;
  max-width: 400px;
  margin-bottom: 30px;
}
.landing .container .info .links {
  display: flex;
}
@media (max-width: 767px) {
  .landing .container .info .links {
    justify-content: center;
  }
}
.landing .container .img-holder {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .landing .container .img-holder {
    order: -1;
  }
}
.landing .container .img-holder img {
  max-width: 100%;
  width: 450px;
  margin: auto;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media (max-width: 767px) {
  .landing .container .img-holder img {
    width: 250px;
  }
}
/* end landing */
/* start our specials */
.specials {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.specials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.specials .container .box {
  border-radius: 10px;
  position: relative;
  z-index: 1;
}
.specials .container .box::before {
  content: "";
  position: absolute;
  background-color: var(--lightGreen-1);
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 100px);
  z-index: -1;
  border-radius: var(--main-border);
}
.specials .container .box img {
  max-width: 100%;
  width: calc(100% - 70px);
  border-radius: var(--main-border);
  margin: auto;
  display: block;
}
.specials .container .box .info {
  padding: 20px;
}
.specials .container .box .info h3 {
  text-transform: capitalize;
  color: var(--black-1);
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.specials .container .box .info span {
  color: var(--green-1);
  font-weight: 600;
  font-size: 1.2rem;
  display: block;
}
.specials .container .box .info .rate {
  margin: 10px 0;
}
.specials .container .box .info .rate i.filled {
  color: var(--green-1);
}
.specials .container .box .info p {
  color: var(--black-2);
  line-height: 1.6;
}
.specials .container .heading {
  display: flex;
  align-items: center;
}
/* end our specials */
/* start discount */
.discount {
  padding-top: var(--main-padding-top);
  padding-bottom: var(--main-padding-bottom);
}
.discount .container .box {
  background-color: var(--lightGreen-1);
  border-radius: var(--main-border);
  position: relative;
  display: flex;
  gap: 30px;
  padding: 20px;
  overflow: hidden;
}
@media (max-width: 1199px) {
  .discount .container .box {
    flex-direction: column;
  }
}
.discount .container .box .images-holder {
  flex-basis: 60%;
  display: flex;
  justify-content: space-between;
}
.discount .container .box .images-holder img {
  max-width: 100%;
  width: calc(95% / 3);
  border-radius: var(--main-border);
}
.discount .container .box .info {
  flex-basis: 25%;
  display: flex;
  align-items: center;
}
.discount .container .box .info .content h3 {
  color: var(--black-1);
  font-size: 35px;
  margin-bottom: 10px;
}
.discount .container .box .info .content p {
  color: var(--black-2);
  line-height: 1.6;
  margin-bottom: 20px;
}
.discount .container .box .image {
  position: absolute;
  width: 150px;
  bottom: 0;
  right: 0;
}
/* end discount */
